

.container{
    position: relative;
    margin-top:50px;
    width:450px;
    height: 350px;
    background:gainsboro;
    border-radius:5px
}
.form-group .input{
    height:40px;
    width:50px;
    padding:0 5px;
    outline: none;
    margin-left:10px;
    font-family: sans-serif;
    
} 
.form-group .lable{
    padding:20px 130px;
    font-size:35px;
    font-weight:bold;
    color: #130f40;
}
button{
    width:100%
}